<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fcce56b6-e46f-490d-a6bc-f1dfdd62718e/resourceGroups/ng-w2jbmh/providers/Microsoft.Web/sites/ng-w2jbmh</ResourceId>
    <ResourceGroup>ng-w2jbmh</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ng-w2jbmh.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ng-w2jbmh.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ng-w2jbmh</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ng-w2jbmh</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="UserDB" Order="1" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="musicweb.Models.ApplicationDbContext, musicweb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ComicBookDAL" Order="2" Enabled="False">
          <Destination Path="" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="musicweb.DataAccessLayer.ComicBookDAL, musicweb" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="ComicBookDAL-Web.config Connection String" />
    <MSDeployParameterValue Include="UserDB-Web.config Connection String" />
  </ItemGroup>
</Project>