nav {
    margin-bottom: 15px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.card {
    border: 0;
    background-color: #f5f5f5;
}

.img-thumbnail {
    background-color: #f5f5f5;
    max-height: 95vh;
}

.navbar-right {
    margin-left: auto;
}

.comic-cover:hover {
    animation: move-cover 0.3s forwards;
}

textarea.form-control {
    height: 555px;
}

.plus-icon {
    font-size: 7em;
    color: #595959;
}

.cart-icon {
    color: rgba(255,255,255,.5);
    font-size: 2em;
}

.icon-center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

a {
    color: #212529;
}

a:hover {
    color: #212529;
    text-decoration: none;
}

.cart-item {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    align-items: center;
    justify-content: center;
}

.cart-cover {
    max-width: 80%;
    max-height: 80%;
    padding-top: 13px;
    padding-bottom: 13px;
}

.remove-btn {
    margin-bottom: 15px;
}

@keyframes move-cover {
    0% {
        transform: translate(0, 0);
        box-shadow: 0;
    }

    100% {
        transform: translate(0, -5px);
        box-shadow: 18px 21px 17px -18px rgba(8,0,8,0.56);
    }
}